# DOCKER
DOCKER_CONTAINER_PREFIX="movioza"
DOCKER_ENV="dev"
DOCKER_ROOT_PATH="./.docker/${DOCKER_ENV}"

# NGINX
NGINX_PORT=80
NGINX_CONFIG="${DOCKER_ROOT_PATH}/nginx/nginx.conf"
NGINX_WWW_CONFIG="${DOCKER_ROOT_PATH}/nginx/www.conf"

# API
API_PATH="./api"
API_WORKDIR="/usr/src/api"
API_DOCKER_FILE="${DOCKER_ROOT_PATH}/api/Dockerfile"
API_PHP_INI="${DOCKER_ROOT_PATH}/api/php.ini"
API_WWW_CONFIG="${DOCKER_ROOT_PATH}/api/www.conf"

# POSTGRES
POSTGRES_VERSION="17.6-alpine"
POSTGRES_USER="movioza"
POSTGRES_PASSWORD="admin"
POSTGRES_DBNAME="movioza"
POSTGRES_PORT=5432
POSTGRES_VOLUMES="./volumes/postgres"

# REDIS
REDIS_VERSION="7.2.4"
REDIS_PORT=6380
REDIS_CONFIG="${DOCKER_ROOT_PATH}/redis/default.conf"
REDIS_VOLUMES="./volumes/redis"
REDIS_PASSWORD="admin"

# RABBITMQ
RABBITMQ_VERSION="4.1.2-management"
RABBITMQ_USER="movioza"
RABBITMQ_PASSWORD="admin"
RABBITMQ_VHOST="/"
RABBITMQ_API_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_VOLUMES="./volumes/rabbitmq"