# DOCKER
DOCKER_CONTAINER_PREFIX="movioza"
DOCKER_ENV="dev"
DOCKER_ROOT_PATH="./.docker/${DOCKER_ENV}"

# NGINX
NGINX_PORT=80
NGINX_CONFIG="${DOCKER_ROOT_PATH}/nginx/nginx.conf"
NGINX_WWW_CONFIG="${DOCKER_ROOT_PATH}/nginx/www.conf"

# API
API_PATH="./api"
API_WORKDIR="/usr/src/api"
API_DOCKER_FILE="${DOCKER_ROOT_PATH}/api/Dockerfile"
API_PHP_INI="${DOCKER_ROOT_PATH}/api/php.ini"
API_WWW_CONFIG="${DOCKER_ROOT_PATH}/api/www.conf"

# POSTGRES
POSTGRES_VERSION="17.6-alpine"
POSTGRES_USER="movioza"
POSTGRES_PASSWORD="admin"
POSTGRES_DBNAME="movioza"
POSTGRES_PORT=5432
POSTGRES_VOLUMES="./volumes/postgres"

# REDIS
REDIS_VERSION="7.2.4"
REDIS_PORT=6380
REDIS_CONFIG="${DOCKER_ROOT_PATH}/redis/default.conf"
REDIS_VOLUMES="./volumes/redis"
REDIS_PASSWORD="admin"

# RABBITMQ
RABBITMQ_VERSION="4.1.2-management"
RABBITMQ_USER="movioza"
RABBITMQ_PASSWORD="admin"
RABBITMQ_VHOST="/"
RABBITMQ_API_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_VOLUMES="./volumes/rabbitmq"

# Huggingface embeddings
HUGGINGFACE_EMBEDDINGS_VERSION="cpu-latest"
HUGGINGFACE_EMBEDDINGS_PORT=8080
HUGGINGFACE_EMBEDDINGS_MODEL_ID="intfloat/multilingual-e5-small"
HUGGINGFACE_EMBEDDINGS_VOLUMES="./volumes/huggingface-embeddings"

# MINIO
MINIO_VERSION="latest"
MINIO_VOLUMES="./volumes/minio"
MINIO_HOST="s3.movioza.loc"
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER="movioza"
MINIO_ROOT_PASSWORD="movioza_password"

# ARIA2
ARIA2_VERSION="202209060423"
ARIA2_HOST="aria2.movioza.loc"
ARIA2_RPC_PORT=6880
ARIA2_DOWNLOADS_VOLUMES="./aria2/downloads"
ARIA2_RPC_SECRET="movioza"