.a-star-rating {
  display: flex;

  &__num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -36%);
    color: rgba(255, 255, 255, 0.2);
    font-size: 10px;
    font-weight: bold;
  }

  .a-rating-item--hover &__num {
    color: #fff;
  }

  .a-rating-item--selected &__num {
    color: #000;
  }

  .a-rating-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 2px;
    background-color: transparent;
    border: none;
    outline: none;

    svg {
      width: 100%;
      height: 100%;
      transition: transform 0.2s linear;
      color: rgba(255, 255, 255, 0.1);
    }

    &--hover,
    &--selected {
      svg {
        color: var(--a-yellow);
      }
    }

    &--selected {
      svg {
        fill: var(--a-yellow);
      }
    }

    &--hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
}
