NUXT_PUBLIC_APP_SHORT_TITLE="Movioza"
NUXT_PUBLIC_APP_FULL_TITLE="Movioza — смотреть фильмы и сериалы онлайн бесплатно в HD"
NUXT_PUBLIC_APP_NAME="Movioza.com"
NUXT_PUBLIC_APP_DESCRIPTION="${NUXT_PUBLIC_APP_SHORT_TITLE} — смотреть фильмы и сериалы онлайн бесплатно без регистрации и рекламы в хорошем качестве HD и Full HD. Новинки кино, популярные сериалы и лучшие фильмы всех жанров."
NUXT_PUBLIC_APP_LANG="ru"
NUXT_PUBLIC_APP_URL="http://localhost:3004"
NUXT_PUBLIC_APP_KEYWORDS="movioza, мовиоза, смотреть, фильмы, онлайн"
NUXT_PUBLIC_APP_ROBOTS="index, follow, noarchive"
NUXT_PUBLIC_APP_HEADER_LOGO="/images/logo.png"

NUXT_PUBLIC_APP_BTC_ADDRESS="btc address"
NUXT_PUBLIC_APP_LTC_ADDRESS="ltc address"
NUXT_PUBLIC_APP_USDT_TRC20_ADDRESS="usdt address"

NUXT_PUBLIC_SHORTCUT_ICON="/favicon.ico"
NUXT_PUBLIC_SHORTCUT_ICON_TYPE="image/x-icon"

NUXT_PUBLIC_ICON_16="/favicon-16x16.png"
NUXT_PUBLIC_ICON_32="/favicon-32x32.png"

NUXT_PUBLIC_APPLE_MOBILE_WEB_APP_TITLE="Movioza.com"
NUXT_PUBLIC_APPLE_TOUCH_ICON_180="/apple-touch-icon.png"

NUXT_PUBLIC_MASK_ICON="/safari-pinned-tab.svg"

NUXT_PUBLIC_REFERRER="always"

NUXT_PUBLIC_X_DNS_PREFETCH_CONTROL="on"
NUXT_PUBLIC_DNS_PREFETCH="url,url2,url3"

NUXT_PUBLIC_MSAPPLICATION_TILE_COLOR="#2b5797"
NUXT_PUBLIC_MSAPPLICATION_TILE_IMAGE="/mstile-150x150.png"

NUXT_PUBLIC_THEME_COLOR="#404040"

NUXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""

NUXT_PUBLIC_RSS="${NUXT_PUBLIC_APP_URL}/rss.xml"

NUXT_PUBLIC_MANIFEST="/site.webmanifest"

NUXT_PUBLIC_OPENSEARCH_URL="${NUXT_PUBLIC_APP_URL}/opensearch.xml"
NUXT_PUBLIC_OPENSEARCH_TITLE="${NUXT_PUBLIC_APP_SHORT_TITLE} — смотреть фильмы и сериалы онлайн бесплатно"

NUXT_PUBLIC_API_URL="http://127.0.0.1:48080"