.video-player-top-bar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
  transform: translateY(-60px);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.2s linear,
    opacity 0.2s linear,
    visibility 0.2s linear;

  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
